<!--This file acts as the home page for the customer once they have logged in.-->
<html>
<head>
</head>
<body>
	<h1>Welcome {{name}}!</h1>

    {% if success %}
        <div style="color: blue; font-weight: bold;">
            {{ success }}
        </div>
    {% endif %}

    {% if error %}
        <div style="color: red; font-weight: bold;">
            {{ error }}
        </div>
    {% endif %}

    <h2>View My Flights</h2>
    <form action="/viewFlight" method="POST">
        <input type="submit" value="View My Flights">
    </form>
    <hr>

	<h2>Search Flights</h2>
        <form action="/searchFlights" method="POST" class="search-form">
            <label for="flight">Flight Type</label>
            <input type="radio" name="flight_type" value="one-way" onchange='toggleReturn()' checked> One-way
            <input type="radio" name="flight_type" value="round-trip" onchange='toggleReturn()'> Round-trip <br>
            <br>

            <label for="source">Source Airport:</label>
            <input type="text" id="source" name="source" required><br>

            <label for="destination">Destination Airport:</label>
            <input type="text" id="destination" name="destination" required><br>

            <label for="depart_date">Departure Date:</label>
            <input type="date" id="depart_date" name="departure_date" required><br>

            <label for="return_date">Return Date (Only For Round-trip):</label>
            <input type="date" id="return_date" name="return_date"><br>

            <input type="submit" value="Search Flights">
        </form>
    <hr>

    <h2>Cancel Trip</h2>
        <form action="/cancelTrip" method="POST">
            <label for="ticket_id">Ticket ID:</label>
            <input type="text" id="ticket_id" name="ticket_id" placeholder="Enter Ticket ID" required><br>
            <input type="submit" value="Cancel Trip">
        </form>
        {% if cancel_message %}
        <p style="color: green;"><strong>{{ cancel_message }}</strong></p>
        {% endif %}
        {% if cancel_error %}
        <p style="color: red;"><strong>{{ cancel_error }}</strong></p>
        {% endif %}
        <hr>

    <h2>Give Ratings and Comments</h2>
        <form action="/rateFlight" method="POST">
            <label for="ticket_id">Ticket ID:</label>
            <input type="text" id="ticket_id" name="ticket_id" placeholder="Enter Ticket ID" required><br>

            <label for="rating">Rating (1-5):</label>
            <input type="number" id="rating" name="rating" min="1" max="5" required><br>

            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" rows="4" cols="50" placeholder="Enter your comment"></textarea><br>

            <input type="submit" value="Submit Rating and Comment">
        </form>
        {% if rating_message %}
        <p style="color: green;"><strong>{{ rating_message }}</strong></p>
        {% endif %}

        {% if rating_error %}
        <p style="color: red;"><strong>{{ rating_error }}</strong></p>
        {% endif %}
        <hr>

    <h2>Track My Spending</h2>
        <form action="/trackSpending" method="POST">
            <label for="date_range">Date Range:</label>
            <input type="date" id="start_date" name="start_date" placeholder="Start Date">
            <input type="date" id="end_date" name="end_date" placeholder="End Date"><br>
            <input type="submit" value="Track Spending">
        </form>

<a href="/logoutCustomer">Logout</a>

</body>
</html>
