<!DOCTYPE html>
<html>

<head>

</head>

<body>
<div>
	<h2>Customers</h2>
	<ul>
		<li><a href="/loginCustomer">Customer Login</a></li>
		<li><a href="/registerCustomer">Customer Register</a></li>
	</ul>
</div>
<hr>
<div>
	<h2>Staff</h2>
	<ul>
		<li><a href="/loginStaff">Staff Login</a></li>
		<li><a href="/registerStaff">Staff Register</a></li>
	</ul>
</div>
<hr>
<div>
	<h2>Search Flights Without Logging In</h2>
	<a href="/searchFlight">Search For Flights</a>
</div>
</body>

</html>
