<!DOCTYPE html>
<html>

<head>

</head>

<body>
{% if not message %}
<div>
	<h2>Customers</h2>
	<ul>
		<li><a href="/loginCustomer">Customer Login</a></li>
		<li><a href="/registerCustomer">Customer Register</a></li>
	</ul>
</div>
<hr>
<div>
	<h2>Staff</h2>
	<ul>
		<li><a href="/loginStaff">Staff Login</a></li>
		<li><a href="/registerStaff">Staff Register</a></li>
	</ul>
</div>
<hr>
<div>
	<h2>Search Flights Without Logging In</h2>
	<a href="/searchFlight">Search For Flights</a>
</div>
{% endif %}

{% if message %}
	<a href="/logout">Logout</a>
	<a href="/remove_account">Remove Account</a>
	<p class="message">You are logged in {{message}}. You have {{num}} follower(s)</p> </br>
	<a href="/tweets">View your tweets</a> </br>
	<a href="/find_people">Find people to follow</a> </br>
	<a href="/unfollow">Unfollow someone</a> </br>
	<a href="/view_followed">View people you have followed</a> </br>
	</br>

        <h4>15 most recent tweets from you and your followers </h4> </br>

	{% for line in tweets%}
	        <p>{{line}}</p>
	        <hr>
	{% endfor %}
	{% endif %}
</body>

</html>
