<!--After viewing a flight, the customer can purchase-->
<html>
    <head>
        <title>Purchase Ticket</title>
    </head>
    <body>
        <h1>Confirm Your Purchase</h1>
        <p>Flight Number: {{ flight_number }}</p>
        <p>Airline: {{ airline_name }}</p>
        <p>Departure Date: {{ departure_date }}</p>
        <p>Departure Time: {{ departure_time }}</p>
        <p>Price: ${{ base_price }}</p>

    <form action="/authPurchase" method="POST">
            <input type="hidden" name="flight_number" value="{{ flight_number }}">
            <input type="hidden" name="airline_name" value="{{ airline_name }}">
            <input type="hidden" name="departure_date" value="{{ departure_date }}">
            <input type="hidden" name="departure_time" value="{{ departure_time }}">
            <input type="hidden" name="base_price" value="{{ base_price }}">

            <h2>Payment Information</h2>
            <label for="card_type">Card Type:</label>
            <input type="text" id="card_type" name="card_type" required><br>

            <label for="card_name">Name on Card:</label>
            <input type="text" id="card_name" name="card_name" required><br>

            <label for="card_num">Card Number:</label>
            <input type="number" id="card_num" name="card_num"  required><br>

            <label for="exp_date">Expiration Date:</label>
            <input type="date" id="exp_date" name="exp_date"  required><br>

            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name"  required><br>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name"  required><br>

            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob"  required><br>
        <input type="submit" name="choice" value="CONFIRM PURCHASE">
    </form>
</body>
</html>
