<body>
    <h1>Purchase Tickets</h1>
    <form action="/AuthPurchase" method="POST">
            <h2>Customer Information</h2>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required><br>

            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required><br>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required><br>

            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" required><br>

            <h2>Payment Information</h2>
            <label for="card_type">Card Type:</label>
            <input type="text" id="card_type" name="card_type" required><br>

            <label for="card_name">Name on Card:</label>
            <input type="text" id="card_name" name="card_name" required><br>

            <label for="card_num">Card Number:</label>
            <input type="text" id="card_num" name="card_num"  required><br>

            <label for="exp_date">Expiration Date:</label>
            <input type="date" id="exp_date" name="exp_date"  required><br>

        <input type="submit" name="choice" value="CONFIRM PURCHASE">
    </form>
</body>
</html>
