<!--Used for users to search flights by entering the infomation-->
<html>
<head>
    <title>Search Flights</title>
</head>
<body>
    <h1>Search Flights</h1>
    <form action="/searchFlights" method="POST">
        <input type="text" name="source" placeholder="Enter an origin" required><br><br>
        <input type="text" name="destination" placeholder="Enter a destination" required><br><br>
        <label for="departure_date">Departure Date:</label><br>
        <input type="date" name="departure_date" placeholder="Departure Date" required><br><br>
        <label for="return_date">Return Date (For Round Trip Only):</label><br>
        <input type="date" id="return_date" name="return_date" placeholder="Return Date"><br><br>
        <input type="submit" value="Search">
    </form>
</body>
</html>